$grey_color: rgb(122, 121, 121);

html {
  box-sizing: border-box;
  font-family: Helvetica;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  background-color: rgb(219, 219, 219);
}
.container {
  padding: 30px 0;
  width: 30rem;
  margin: 0 auto;
}
section {
  border-bottom: 1px solid grey;
}

header {
  padding: 5px;
  background-color: grey;
  nav {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    a {
      text-decoration: none;
      color: white;
    }
  }
}

.heading {
  background: url("../img/welcome.jpg");

  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .container {
    padding: 60px 0px;
  }
}
h1,
h2,
h3 {
  margin: 0;
  margin-bottom: 20px;
}
h1 {
  color: white;
  text-align: center;
  font-size: 4rem;
}

h2 {
  color: $grey_color;
  text-align: center;
  font-weight: 300;
  font-size: 3rem;
}

.plot {
  .container {
    .view-character {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      img {
        width: 10rem;
      }
    }
  }
}

.heading {
  background: url("../img/welcome.jpg");

  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .container {
    padding: 60px 0px;
  }
}

.characters {
  background: url("../img/rey-standing.jpg");

  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .images {
      display: flex;
      justify-content: center;
      gap: 10px;

      img {
        border-radius: 50%;
        cursor: pointer;
        &:nth-child(1) {
          width: 2rem;
          height: 2rem;
        }
        &:nth-child(2) {
          width: 3rem;
          height: 3rem;
        }
        &:nth-child(3) {
          width: 5rem;
          height: 5rem;
        }
        &:nth-child(4) {
          width: 6rem;
          height: 6rem;
        }
        &:nth-child(5) {
          width: 5rem;
          height: 5rem;
        }
        &:nth-child(6) {
          width: 4rem;
          height: 4rem;
        }
        &:nth-child(7) {
          width: 3rem;
          height: 3rem;
        }
      }
    }
  }
}

.ratings {
  .container {
    color: $grey_color;
    text-align: center;

    .comparasion {
      display: flex;
      height: 350px;
      justify-content: space-between;
      gap: 20px;

      .info {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 3%;
        flex: 1 1 30%;
        .rating {
          font-size: 2rem;
        }
        .graph {
          background-color: $grey_color;
        }
        .source {
          font-size: 1rem;
          height: 40px;
          cursor: pointer;
        }
      }
      .imdb {
        .graph {
          height: 200px;
        }
      }
      .rotten {
        .graph {
          height: 250px;
        }
      }
      .metacritic {
        .graph {
          height: 220px;
        }
      }
    }
  }
}
.cast {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    .view-character {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      img {
        width: 10rem;
        cursor: pointer;
      }
    }

    .cast_images {
      display: flex;
      justify-content: space-between;

      div {
        display: flex;
        flex-direction: column;
        width: 15%;
        img {
          cursor: pointer;
        }
        span {
          color: white;
          font-size: 0.8 rem;
          text-align: center;
          margin-top: -1.6rem;
          background-color: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}
#gallery{
    margin: 20px 0;
  
}
.gallery {
  background: url("../img/gallery.jpg");
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: space-around;
  gap: 80%;

  .arrow{
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
    font-size: 3rem
  }
}
